$bg: #282828;
$fg: #fbf1c7;
$hl: #83a598;
$yellow: #fabd2f;
$red: #fb4934;


@keyframes progress {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

body {
  background-color: $bg;
  color: $fg;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

div.container {
  height: 100%;
  line-height: 150%;

  div.main {
    flex: 1;
  }

  div.content {
    min-height: calc(100% - 140px);
    display: flex;
    padding: 40px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;

    div.description {
      div.logo {
        width: 64px;
        height: 64px;
        background-size: 400% 400%;
        background-image: repeating-linear-gradient(
          -40deg,
          #fb4934,
          #fb4934 10px,
          #f38019 10px,
          #f38019 20px,
          #fabd2f 20px,
          #fabd2f 30px,
          #b8bb26 30px,
          #b8bb26 40px,
          #8ec07c 40px,
          #8ec07c 50px,
          #a89984 50px,
          #a89984 60px
        );

        -webkit-animation: progress 25s linear infinite;
        -moz-animation: progress 25s linear infinite;
        -ms-animation: progress 25s linear infinite;
        animation: progress 25s linear infinite;

        -webkit-mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 186.7 186"><path class="a" d="M127.5,80.8a9.2,9.2,0,0,1,0,13,9.3,9.3,0,0,1-13.1,0L83.7,63.1,53.1,93.8a9.3,9.3,0,0,1-13.1,0,9.2,9.2,0,0,1,0-13L77.1,43.7a9.5,9.5,0,0,1,13.3,0ZM53.1,52.9,83.7,22.2l30.7,30.7a9.3,9.3,0,0,0,13.1-13.1L90.4,2.7a9.5,9.5,0,0,0-13.3,0L40,39.8A9.3,9.3,0,0,0,53.1,52.9ZM181.9,184.4h0a9.6,9.6,0,0,1-5.3,1.6H9.2A9.3,9.3,0,0,1,0,176.7H0V9.2A9.2,9.2,0,0,1,9.2,0a9.2,9.2,0,0,1,9.3,9.2V167.5H98.4l34-51.3a8.8,8.8,0,0,1,4.2-3.4h.2l.6-.2h5.3l.7.2h.1a9.5,9.5,0,0,1,4.3,3.4l36.7,55.4A9.3,9.3,0,0,1,181.9,184.4Zm-61.3-16.9h38.9l-19.4-29.4Z"/></svg>')
          center/contain;
        mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 186.7 186"><path class="a" d="M127.5,80.8a9.2,9.2,0,0,1,0,13,9.3,9.3,0,0,1-13.1,0L83.7,63.1,53.1,93.8a9.3,9.3,0,0,1-13.1,0,9.2,9.2,0,0,1,0-13L77.1,43.7a9.5,9.5,0,0,1,13.3,0ZM53.1,52.9,83.7,22.2l30.7,30.7a9.3,9.3,0,0,0,13.1-13.1L90.4,2.7a9.5,9.5,0,0,0-13.3,0L40,39.8A9.3,9.3,0,0,0,53.1,52.9ZM181.9,184.4h0a9.6,9.6,0,0,1-5.3,1.6H9.2A9.3,9.3,0,0,1,0,176.7H0V9.2A9.2,9.2,0,0,1,9.2,0a9.2,9.2,0,0,1,9.3,9.2V167.5H98.4l34-51.3a8.8,8.8,0,0,1,4.2-3.4h.2l.6-.2h5.3l.7.2h.1a9.5,9.5,0,0,1,4.3,3.4l36.7,55.4A9.3,9.3,0,0,1,181.9,184.4Zm-61.3-16.9h38.9l-19.4-29.4Z"/></svg>')
          center/contain;
      }

      svg.logo {
        display: inline-block;
        width: 64px;
        height: auto;
      }

      margin-bottom: 40px;
    }
  }

  ul.projects-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    margin-left: -10px;
    padding: 0;
    justify-content: center;

    li {
      display: flex;
      align-items: stretch;
      list-style: none;
      width: 200px;
      transition: 0.5s;
      border-radius: 2px;
      padding: 0 0 10px 10px;

      @media only screen and (max-width: 600px) {
        width: 100%;
      }

      div.title-section {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 10px;

        svg {
          font-size: 1.5rem;
          padding-right: 10px;
        }
      }

      &:hover {
        cursor: pointer;

        svg {
          color: $yellow;
          transition: 0.5s;
        }
      }

      button {
        color: $fg;
        background-color: lighten($bg, 4%);
        border: none;
        padding: 15px;
        margin: 0px;
        display: flex;
        flex-direction: column;
        height: 100px;
        width: 100%;
        text-align: left;
        transition: 0.5s;

        &:hover {
          background-color: lighten($bg, 10%);
          transition: 0.5s;
          cursor: pointer;
        }

        span {
          display: block;

          &.title {
            color: $hl;
          }

          &.brief {
            font-size: 90%;
            line-height: 130%;
          }
        }
      }
    }
  }

  .photo-portfolio-container {
    margin-top: 10px;
  }

  ul.photo-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    margin-left: -10px;
    padding: 0;
    justify-content: center;

    li {
      display: flex;
      align-items: stretch;
      list-style: none;
      width: 320px;
      transition: 0.5s;
      border-radius: 2px;
      padding: 0 0 10px 10px;

      @media only screen and (max-width: 600px) {
        width: 100%;
      }

      img {
        margin: 5px;
        border: 10px solid lighten($fg, 30%);
        max-width: calc(100% - 30px);
        max-height: 200px;
      }

      div.title-section {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 10px;
      }

      &:hover {
        cursor: pointer;
      }

      button {
        color: $fg;
        background-color: transparent;
        border: none;
        margin: 0px;
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: left;
        transition: 0.5s;
        align-items: center;
        justify-content: center;

        &:hover {
          background-color: lighten($bg, 10%);
          transition: 0.5s;
          cursor: pointer;
        }
      }
    }
  }
}

@font-face {
  font-family: "si";
  src: url("../fonts/socicon/socicon.eot");
  src: url("../fonts/socicon/socicon.eot?#iefix") format("embedded-opentype"),
    url("../fonts/socicon/socicon.woff") format("woff"),
    url("../fonts/socicon/socicon.ttf") format("truetype"),
    url("../fonts/socicon/socicon.svg#icomoonregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: si;
    src: url(../fonts/socicon/socicon.svg) format(svg);
  }
}

.soc {
  margin-top: 40px;
  padding: 0;
  list-style: none;
  text-align: center;

  li {
    display: inline-block;
    zoom: 1;

    a {
      font-family: si !important;
      font-style: normal;
      font-weight: 400;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -o-box-sizing: border-box;
      box-sizing: border-box;

      -o-transition: 0.1s;
      -ms-transition: 0.1s;
      -moz-transition: 0.1s;
      -webkit-transition: 0.1s;
      transition: 0.1s;
      -webkit-transition-property: transform;
      transition-property: transform;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);

      overflow: hidden;
      text-decoration: none;
      text-align: center;
      display: block;
      position: relative;
      z-index: 1;
      width: 24px;
      height: 24px;
      line-height: 24px;
      font-size: 13px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      margin-right: 10px;
      color: #ffffff;
      background-color: none;

      &:hover {
        z-index: 2;
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
      }

      span {
        position: absolute;
        left: -10000px;
        top: auto;
        width: 1px;
        height: 1px;
        overflow: hidden;
      }
    }
  }
}

.soc-icon-last {
  margin: 0 !important;
}

.soc-facebook {
  background-color: #3e5b98;
}

.soc-facebook:before {
  content: "b";
}

.soc-linkedin {
  background-color: #3371b7;
}

.soc-linkedin:before {
  content: "j";
}

.soc-github {
  background-color: #5380c0;
}

.soc-github:before {
  content: "Q";
}

.links {
  text-align: center;

  a {
    text-decoration: none;
    color: $fg;
    font-weight: 200;
    padding-left: 5px;
    padding-right: 5px;
    transition: 0.5s;

    &:hover {
      text-decoration: underline;
      transition: 0.5s;
    }
  }
}

button.back-button {
  color: $red;
  background: none;
  border: none;
  text-decoration: none;
  font-weight: 1000;
  font-size: 1.7em;

  &:hover {
    cursor: pointer;
  }
}

.details {

  h3 {
    color: $hl;
  }

  a {
    color: $yellow;
    text-decoration: none;
    font-weight: bold;
  }

  div.project-image-container {
    margin-top: 10px;

    img {
      max-width: 100%;
    }
  }

  div.focused-title-section {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;

    svg {
      font-size: 1.5rem;
      padding-left: 10px;
    }
  }
}

.full-canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  filter: blur(2px);
}

.full-photo-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  flex-direction: column;

  .photo-container-header {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    span.photo-title {
      font-weight: bold;
      font-size: 1.5rem;
      margin-bottom: 10px;
    }
  }

  div.photo-rows {
    img {
      height: auto;
      max-width: 80vw;
      max-height: 80vh;
      border: 15px solid lighten($fg, 30%);
    }
  }
}

div.photography-button-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-left: -10px;
  padding: 0;
  justify-content: center;
  margin-top: 15px;

  a {
    text-decoration: none;
  }

  button.photography-portfolio-link {
    color: $fg;
    background-color: lighten($bg, 4%);
    border: none;
    padding: 25px;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    transition: 0.5s;

    div.title-section {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      svg {
        font-size: 1.5rem;
        padding-right: 10px;
      }
    }

    &:hover {
      background-color: lighten($bg, 10%);
      transition: 0.5s;
      cursor: pointer;
    }

    span {
      display: block;

      &.title {
        color: $hl;
      }

      &.brief {
        font-size: 90%;
        line-height: 130%;
      }
    }
  }
}

.divider {
  width: 30%;
}
